<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <script src="static/js/home.js"></script>
    <!-- <script src="static/js/ui.js"></script> -->
    <title>Alex 化學</title>
</head>

<body>
    <div class="header">
        <!-- <div class="logo">
            <img src="static/images/logo.png" alt="logo">
        </div> -->
        <div class="header-area">
            <p class="home-text" id="home">Alex 化學</p>

            <div class="class-area" id="class-area">
                <!-- <div class="class" id='210'>
                    210
                </div> -->
                <!-- <div class="class" id='210'>
                    210
                </div>
                <div class="class" id='210'>
                    212
                </div>
                <div class="class" id='210'>
                    313
                </div>
                <div class="class" id='210'>
                    319
                </div> -->
            </div>
        </div>
    </div>
    <div class="container" id="container">
        <!-- vedio -->
        <!-- <div class="vedio-area" id="vedio-area">
            
        </div> -->
        <!-- home -->
        <h1 id="sentence" class="fade-in-left"  >阿你知道LP跟BP是甚麼嗎?<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;前幾天上課有人說...懶趴</h1>
    </div>
</body>

</html>