<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/home.js">
    <title>Alex 化學</title>
</head>

<body>
    <div class="header">
        <!-- <div class="logo">
            <img src="static/images/logo.png" alt="logo">
        </div> -->
        <div class="header-area">
            Alex 化學

            <div class="class-area">
                <!-- <div class="class" id='210'>
                    210
                </div> -->
                <div class="class" id='210'>
                    210
                </div>
                <div class="class" id='210'>
                    210
                </div>
                <div class="class" id='210'>
                    210
                </div>
                <div class="class" id='210'>
                    210
                </div>
                <div class="class" id='210'>
                    210
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <!-- vedio -->
        <div class="vedio-area">
            <div class="vedio">

            </div>
            <div class="dashed"> </div>
            <div class="vedio">

            </div>
            <div class="dashed"> </div>
            <div class="vedio">

            </div><div class="dashed"> </div>
            <div class="vedio">

            </div>
        </div>
        <!-- home -->
        <!-- <h1 class="fade-in-left" style="font-size: 75px;">阿你知道LP跟BP是甚麼嗎?<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;前幾天上課有人說...懶趴</h1> -->
    </div>
</body>

</html>