<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/home.js">
    <title>Alex 化學</title>
</head>

<body>
    <div class="header">
        <!-- <div class="logo">
            <img src="static/images/logo.png" alt="logo">
        </div> -->
        <div class="header-area">
            Alex 化學

            <div style="flex-wrap: nowrap;">
                <div class="class" id='101'>
                    101
                </div>
                <div class="class" id='210'>
                    210
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p>test</p>
        <p>test</p>
    </div>
</body>

</html>